// Core variables and mixins
@import "bootstrap/bootstrap.less";
@import "font-awesome/font-awesome.less";

// Base-theme overrides.
// Copied from the base Bootstrap theme.
@import 'overrides.less';



// Variables
@container-padding: 50px;
@row-padding: (@grid-gutter-width / 2);



// Fixes and Overrides

.views-exposed-form .views-exposed-widget .form-submit {
  margin: 0;
}
.views-exposed-widgets {
  margin: 0;
}
.views-field {
  margin: 0 0 5px 0;
}
.view-filters {
  padding-bottom: @grid-gutter-width;
}

.field {
  margin: 0 0 10px 0;
}

.links.list-inline {
  margin-left: 0;
}


// Styling

.main-container {
  padding: @container-padding @row-padding;
}

.row {
  padding: @row-padding 0;
}

.logo {
  margin: 7px 0;
}

.logo-container {
  &:extend(.container-container);
  border-top: 40px solid green;
}

.pane-title {
  margin: 0 0 10px 0;
}

h1.page-header {
  font-size: 48px;
}

.spartan-heading {
  font-size: 48px;
  margin: 0 0 10px 0;
}

.spartan-page-heading {
  &:extend(.spartan-heading);
  margin: 30px 0 15px 0;
}

body.navbar-is-fixed-top {
  padding-top: 50px !important;
}

body.admin-menu.navbar-is-fixed-top {
  padding-top: 58px !important;
}

.footer-container {
  &:extend(.container-container);
  padding: @container-padding 0;
  background-color: @gray-darker;
  .panel-pane {
    color: white;
  }
  .well, .well-lg, .well-sm {
    background-color: @gray-dark;
  }
}

.section-container {
  &:extend(.container);
  padding: 15px;
}

.container-container {
  // Why does this class exist, if it does nothing?
}

// CSS 3 cannot handle background-size: cover and background-position: fixed
// in the same element.  Create an extra <div> for the background, and manually
// set the dimensions.
.css3-background-fix {
  background-attachment: fixed !important;
  background-position: center top;
  background-repeat: no-repeat;
  position: absolute;
  height: 500px;
  width: 100%;
}

#hero-background {
  &:extend(.css3-background-fix);
  background: url(../img/farming.jpg) top center no-repeat;
}

#break-background {
  &:extend(.css3-background-fix);
  height: 300px;
  background: url(../img/beanpile.jpg) top center no-repeat;
}


// Home page styling.

.spartan-homepage {
  i.fa {
    font-size: 72px;
  }
  .pane-page-slogan {
    padding-top: 30px;
    font-size: 36px;
    font-weight: bold;
    @media( min-width: @screen-md) {
      font-size: 48px;
    }
    @media( min-width: @screen-lg) {
      font-size: 56px;
    }
  }

  .pane-spartan-layout-login {
    .form-actions {
      display: inline-block;
    }
    ul {
      display: inline-block;
      vertical-align: middle;
    }
    border: 4px solid white;
    background-color: rgba(255,255,255,0.6);
    padding: 10px 15px;
  }

  .hero-container {
    &:extend(.container-container);
    height: 500px;
  }

  #explanation {
    font-size: 36px;
  }

  .break-container {
    background: url(../img/farmfield.jpg) top center no-repeat;
    background-attachment: fixed !important;
    background-size: cover !important;
    background-repeat: no-repeat;
    height: 300px;
  }

  .section-container {
    .pane-title {
      margin: 15px 0 10px 0;
    }
  }

  .break-heading {
    &:extend(.spartan-heading);
    margin-bottom: 30px;
  }

  .partner-logo {
    text-align: center;
    background-color: yellow;
  }
}


.blog-article {
  margin: 0 0 50px 0;
  h3 {
    margin: 5px 0;
  }
  border: 4px solid white;
  background-color: rgba(255,255,255,0.9);
  padding: 10px 15px;
}

.spartan-grid-plugin-style .blog-article {
  margin: 0 0 20px 0;
}



// Forum styling

.panel.forum-table {
  margin-bottom: @grid-gutter-width;
}

.forum-table .panel-title {
  text-align: center;
}

div.forum-post {
  margin-bottom: @grid-gutter-width;
}

.indented {
  margin-left: @container-padding;
}

.row.top {
  padding-top: 0;
}

.panel-block {
  padding-bottom: @row-padding;
}



// Navbar styling.
.navbar .views-exposed-form .views-exposed-widget {
  padding-top: 3px;
}

.views-widget-filter-search_api_views_fulltext {
  @media( min-width: @screen-sm) {
    width: 150px;
  }
  @media( min-width: @screen-md) {
    width: 200px;
  }
  @media( min-width: @screen-lg) {
    width: inherit;
  }
}



// Media styling.
.media-widget .preview {
  margin: 0;
}

.ui-widget-header {
  background: #ddd;
  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
