// Core variables and mixins
@import "bootstrap/bootstrap.less";
@import "font-awesome/font-awesome.less";

// Base-theme overrides.
// Copied from the base Bootstrap theme.
@import 'includes/overrides.less';

// Select2 styling.
@import 'includes/select2.less';
@import 'includes/select2-bootstrap.less';

// Media overrides.
@import 'includes/media.less';

// Views overrides.
@import 'includes/views.less';

// Search styling.
@import 'includes/search.less';

// User menu styling.
@import 'includes/usermenu.less';

// Home page styling.
@import 'includes/home.less';

// Blog styling.
@import 'includes/blog.less';

// Forum styling.
@import 'includes/forum.less';

// Services promo styling.
@import 'includes/services.less';




// Variables
@container-padding: 50px;
@row-padding: (@grid-gutter-width / 2);






// Styling

.main-container {
  padding: @container-padding @row-padding;
}

.row {
  padding: @row-padding 0;
}

.logo {
  margin: 7px 0;
}

.logo-container {
  &:extend(.container-container);
  border-top: 40px solid @gray-dark;
}

.pane-title {
  margin: 0 0 10px 0;
}

h1.page-header {
  font-size: 48px;
}

.spartan-heading {
  font-size: 48px;
  margin: 0 0 10px 0;
}

.spartan-page-heading {
  &:extend(.spartan-heading);
  margin: 30px 0 15px 0;
}

body.navbar-is-fixed-top {
  padding-top: 50px !important;
}

body.admin-menu.navbar-is-fixed-top {
  padding-top: 58px !important;
}

.footer-container {
  &:extend(.container-container);
  padding: @container-padding 0;
  background-color: @gray-darker;
  .panel-pane {
    color: white;
  }
  .well, .well-lg, .well-sm {
    background-color: @gray-dark;
  }
}

.section-container {
  &:extend(.container);
  padding: 15px;
}

.container-container {
  // Why does this class exist, if it does nothing?
}



.background-container {
  background-attachment: fixed !important;
  background-size: cover !important;
  background-repeat: no-repeat;
}
